*.o
*~
*.ko
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
CMakeFiles
Compilation
Locales
*.layout
*.depend
/csuper
/csuper-gui
/csuper-cli
libcsuper.def
/cmake_install.cmake
/CMakeCache.txt
/Makefile
